#DirectoryIndex index.php
#RewriteEngine On
#
## If the requested file or directory exists, serve it directly
#RewriteCond %{REQUEST_FILENAME} -f [OR]
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^ - [L]
#
## Otherwise, route the request to index.php
#RewriteRule ^ index.php?url=$1 [L,QSA]


DirectoryIndex index.php
RewriteEngine On

# Verhindere, dass statische Dateien an index.php umgeleitet werden
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Alles andere geht an index.php
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]



#DirectoryIndex index.php
#RewriteEngine On
#
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#
#RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]